[2012-10-17 14:14] thefuriouscoder opened #1 ".po to .json conversion"
Hi there,

in the readme it says:

"i18next-conv converts files from gettext (.mo/.po) to i18next's json format and vice versa."

any not documented way of do the "vice versa" part? :) I need to convert the .json to .po to give to the
translators but I'm unable to find the way.

Thanks in adavance.

Diego.

[2012-10-18 11:32] #1 closed, assigned to nobody

[2013-03-18 09:59] tihomiro opened #4 "npm install fails"
Hi,

I'm getting this iconv error on my osx 10.6.8:

npm ERR! iconv@1.1.3 preinstall: `node-waf configure`
npm ERR! `sh "-c" "node-waf configure"` failed with 127
npm ERR!
npm ERR! Failed at the iconv@1.1.3 preinstall script.
npm ERR! This is most likely a problem with the iconv package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node-waf co

[2013-03-23 19:35] #4 closed, assigned to nobody

[2013-05-26 23:52] dotnetwise opened #5 "Install fails if there is no python installed."
The docs doesn't say anything about python

Here is the log

[code]

[2013-05-27 06:10] #5 closed, assigned to nobody

[2014-02-16 21:48] nkhine opened #9 "Error: Symbol iconv_module not found."
I am trying to run but get this error:

[code]

iconv is installed

[code]
any advice much appreciated

[2014-06-13 19:06] gavin310 opened #12 "Don't automatically reorganize order of entries"
I have the entries in my PO files organized according to the page they're used on. When I use the converter it automatically alphabetizes all the entries, causing me to lose the structure of my PO files. If there could be an option to not sort the keys alphabetically that would be very helpful.

[2014-07-29 19:54] ganchenkor opened #13 "json to po"
I think the converter doesn't translate it correctly from i18next format to po.

here is json:

[code]
command:
[code]
Output:
[code]

msgstr[0] and msgstr[1] should have been swapped.

[2014-10-14 12:05] redking opened #16 "Creating JSON for sprintf evaluated keys that are also plurals"
Hey,

I have an issue with the PO parse for translations that should be evaluated via `sprintf` but also contain plural rules.

For example, consider the following translation

[code]

This will produce the following JSON

[code]

I setup i18next with the `sprintf` post-processor. However, I always get the singular form when evaluating the key

[code]

My remarks are
1. I assume this is a limitati

[2014-10-30 14:50] #16 closed, assigned to nobody

[2014-11-21 16:06] gabbosam opened #17 "Wrong conversion .po to .json"
Hi,
i have this situation:
my .po file contains something like that '\303\250' ('è' in Italian language), and when i convert the .po file into json its contains something like that '303250'...the backslash was ignored.
While when i try to convert .mo file (generated by msgfmt python module) to .json is correct and in the output file i found 'è'.

Bye
Gabriele

[2014-12-14 10:45] rohandaxini opened #18 "TypeError: Cannot read property '_translationTable' of undefined"
I am facing this error while building compiling the source. Would highly appreciate your help.

[code]

/usr/local/lib/node_modules/i18next-conv/lib/gettextWrapper.js:218
                callback(null, gt._domains[domain]._translationTable);
                                                  ^
TypeError: Cannot read property '_translationTable' of undefined
    at /usr/local/lib/node_modules/i18nex

[2014-12-15 14:38] #18 closed, assigned to nobody

[2015-03-26 06:00] rahuljal commented on #17
Can some one help me on how to convert .po file to .json file?

I am getting below error,

C:\windows\system32>po2json --errorlevel traceback  frr.po  frr.json
processing 1 files...

po2json: warning: Couldn't handle input file frr.po: Traceback (most recent call
 last):

  File "translate\misc\optrecurse.pyc", line 513, in recursiveprocess

  File "translate\misc\optrecurse.pyc", line 417, in get

[2015-03-26 06:03] rahuljal opened #19 "Unble to convert .po file to .json (gettext)."
I have installed po2json using
npm install po2json

I am getting below error,

C:\windows\system32>po2json --errorlevel traceback  fr.po  fr.json
processing 1 files...

po2json: warning: Couldn't handle input file fr.po: Traceback (most recent call
 last):

  File "translate\misc\optrecurse.pyc", line 513, in recursiveprocess

  File "translate\misc\optrecurse.pyc", line 417, in getoutputoptions

[2015-03-26 07:21] jamuhl commented on #19
can't help much....you ever tried on a linux machine to make sure it's not an issue that this in general does not work under windows...

[2015-05-13 19:41] alisman opened #20 "Source (original text) as msgid, msgstr as translaiton, jsonkey as msgctxt"
Converting from i18next json format to gettext, i see that you are using the json key as the msgid.   This doesn't in line with gettext standard (https://www.gnu.org/software/gettext/manual/gettext.html#Files), which is to use the original string as the msgid and the string's key in the msgctxt.

Was there a reason to do it this way?

[2015-05-14 17:42] jamuhl commented on #20
the reason was that i expected the keys to be mgsids...so converting from gettext to json would use msgid as key.

[2015-05-15 14:41] alisman commented on #20
Hi Jamuhl,
I work for Smartling.  Our clients want to use your converter to from i18next format to gettext, a format our api supports.  The trouble is, we require gettext msgids to be source string, not key.  This is actually consistent with the spec.

Would you be open to (we'll do the work) either creating a param to force output of gettext in this way or adding a filter that would allow us to m

[2015-06-02 13:28] marisradu commented on #19
Not a linux issue, but I guess not your issue either as I've got the exact same error (same file and line on backtrace) using the translation-toolkit's po2json under Ubuntu 12.04.

[2015-06-04 13:19] #13 closed

[2015-06-05 13:17] bantidisturbis opened #21 "ignore fuzzy entries"
Hi, is it possible to convert from .po to json ignoring fuzzy entries?

Thanks

[2015-06-09 18:32] jamuhl commented on #21
basically this just wraps 'node-gettext'. so if it's possible there it will be possible.

any PR solving your demand could be merged and published. as i myself do not use this project on my personal projects i can't invest more time on this. so only your contribution will make this land.

[2015-09-10 07:47] max-mykhailenko opened #22 "How I can run it from node environment?"
I don't want use command line interface. How I can run converter from node environment?

[2015-09-10 10:28] jamuhl commented on #22
var converter = require('i18next-conv');
converter. ...

see eg: https://github.com/i18next/i18next-gettext-converter/blob/master/test/gettextWrapper.test.js#L111

[2015-09-10 10:39] max-mykhailenko commented on #22
@jamuhl what about `json` to `mo` file converting?

[2015-09-10 12:25] jamuhl commented on #22
depends on the ending of target: https://github.com/i18next/i18next-gettext-converter/blob/master/lib/gettextWrapper.js#L72

[2015-09-10 12:37] max-mykhailenko commented on #22
@jamuhl Thanks, I will try it soon!

[2015-09-21 19:51] paulblyth opened #23 "Generate nested JSON from .po"
Hey!

Given the following .po key:message structure:

[code]

I want to generate a JSON file in a format like so:

[code]

Is this possible?

Cheers,
Paul

[2015-09-22 08:19] jamuhl commented on #23
this is what this project is used for...

[2015-09-22 08:57] paulblyth commented on #23
Ok.. I'm obviously doing something wrong :sweat_smile:

I end up with JSON that looks like:

[code]

[2015-09-22 09:49] paulblyth commented on #23
A-ha!

Found the --keyseparator flag!

[2015-10-01 06:55] robjens opened #25 "Google Translation Toolkit and Poedit"
Two renowned solutions I guess, that both take `.po` files yet choke on the output generated by this tool. Am I doing something wrong? Is this a different format? Google says "Document does not have translatable content" and Poedit complains "File cannot be opened".

Obviously adding "UTF" takes/text as mentioned in the README doesn't work. The entire header of the document is garbled/binary and d

[2015-10-01 11:17] jamuhl commented on #25
no idea...depending on node-gettext for parsing and compiling. but honestly the used dependency is outdated and should be replaced with https://github.com/andris9/gettext-parser.

not sure that would solve the issue...and as i'm currently focusing on i18next v2.0.0 won't get to this very soon.

PR would be very welcome to solve your issue.

[2015-10-01 17:44] stephenash opened #26 "json to po conversion is written as a mo file instead with 0.1.5"
With `i18next-conv@0.1.5`, I am seeing `.po` files written with the `.mo` file format instead. `i18next-conv@0.1.4` did not have this problem.

[code]

Sample files and output: https://gist.github.com/stephenash/caac6f17c878589ee5b9

[2015-10-02 13:09] jamuhl commented on #26
only commit from 0.1.4 to 0.1.5 is https://github.com/i18next/i18next-gettext-converter/commit/8807e6dc703973628cad15f15fd9302431494a73

i don't see how this should affect it....

[2015-10-04 13:57] #26 closed

[2015-10-05 18:32] RDeluxe opened #28 "Undefined is not a function"
Hi,

I've played a bit with i18next and had no problem with json. I tried with po/mo files and got a weird error, which does not seem to be linked to my files.
I don't know where this is coming from. I'm running Node under windows.

[code]

I checked with the debugger, and it seems my keys are correctly readed.

[2015-10-05 18:50] RDeluxe commented on #28
Ok, found it.

In sync.js, line 14 and 21, the options parameter is missing.

I corrected quickly by adding empty options !

Hard to believe this could have been tested guys :)

[code]

[2015-10-06 06:28] jamuhl commented on #28
that's one of the problems i got with i18next. it started with my own need for some simple solution to get translations in node.js and on clientside. ended in what i18next is today. as i started on i18next v2 a few weeks ago i can see the size of it - all the ecosystem around it. hard to maintain this by myself - even harder to find people interested in contributing on longterm.

as i myself does

[2015-10-06 07:08] jacobrask opened #29 "Convert all .po files in directory"
I have a suggestion to simplify batch processing of translations.

Given the files

[code]

`i18next-conv -s translations/` should generate

[code]

[2015-10-06 08:19] RDeluxe commented on #28
I totally understand. I thought there was a team behind the project.

Thing is, we needed something to handle translations on the server side (Node) and compatible with Jade templates (Express + Jade). The only problem I see with i18next in its current form is that it's hardly compatible with po files, which are the industry standard.
We are currently looking into easy solution for outsourcing the

[2015-10-07 08:59] jamuhl commented on #28
sure you can PM me. jan.muehlemann@gmail.com

personally never had the need for po files...but would be great to see that proper working in i18next.

[2015-10-07 09:02] jamuhl commented on #29
PR would be welcome...as i'm hard on time for implementing this...but

https://github.com/i18next/i18next-gettext-converter/pull/24

should be all needed to write a gulp or grunt task doing this...not sure if batch processing should be the needed in this...but won't hurt...so i would accept a PR

[2015-10-07 12:07] perrin4869 commented on #29
I actually made a gulp task to accomplish this, give me a few hours and put up a sample how you can do this!

[2015-10-11 16:01] perrin4869 commented on #29
OK I finally got around to writing documentation for my gulp plugin, check here the example how you can do the conversion automatically!
https://github.com/perrin4869/gulp-i18next-conv
I would still need to add tests and maybe more customization, not sure when I'll get around to doing that though

[2015-10-13 10:53] jamuhl commented on #29
great to see the progress...and yes...always hard to find time for doing such things.

[2015-10-13 13:18] #22 closed

[2015-10-13 13:22] jacobrask commented on #29
Thanks!

[2015-10-16 08:10] #29 closed

[2015-10-16 08:11] #9 closed

[2015-12-08 16:33] #23 closed

[2015-12-09 15:42] VilmaRamos opened #32 "output incompatible with i18next 2.0"
this plugin doesn't work with the new version of i18next. For instance, in the current version multiple plural forms are parsed like this:
[code]

but i18n 2.0 expects something like this:
[code]

[2015-12-10 08:06] jamuhl commented on #32
yes...you're right. Not yet had the time to get this done. I hope to get this done when v2 gets released. Should be to hard to change. PR would be very welcome.

[2015-12-14 19:56] jamuhl commented on #32
https://github.com/i18next/i18next-gettext-converter/commit/593940bcb512a9486cd6594847b47ca2cde033a5 should change it to be compatible with i18next v2 format.

`npm install -g i18next-conv` (latest 2.0.0)

[2015-12-14 20:13] jamuhl commented on #28
added your fix and published new gettext backend for good old i18next v1.11.x

[2015-12-14 20:13] #28 closed

[2015-12-14 20:18] jamuhl commented on #20
sorry missed this one...sure...PR's are more then welcome...even complete rewrite...

[2015-12-16 20:28] jamuhl commented on #32
still wrong for json -> po

[2015-12-16 20:28] jamuhl commented on #32
see: https://github.com/i18next/i18next/issues/468

[2015-12-22 09:51] jamuhl commented on #32
should be finally fixed in 2.0.1

[2015-12-22 09:51] #32 closed

[2016-01-18 09:18] chung0607 opened #33 "Plural & singular form are flipped when PO -> JSON"
[code]
become
[code]
After conversion.

[2016-01-18 11:11] jamuhl commented on #33
strange:

test: https://github.com/i18next/i18next-gettext-converter/blob/master/test/gettextWrapper.test.js#L67

https://github.com/i18next/i18next-gettext-converter/blob/master/test/_testfiles/en/translation.utf8.po
[code]

tests against:

https://github.com/i18next/i18next-gettext-converter/blob/master/test/_testfiles/en/translation.utf8.json
[code]

can you revalidate this:

[code]

[2016-01-18 12:04] chung0607 commented on #33
Thanks for your help.

I use the locale `en_us` from my gettext po file for the `--language` parameter. I guess it cannot get the right plural forms and cause the problem.

Hope the plural form resolver can be more tolerable to gettext style locale.

[2016-01-18 12:04] #33 closed

[2016-01-18 12:06] jamuhl commented on #33
hm...plural will be based on `en` but i'm rather sure the code splits language-region by `-` not by `_` => `en-US` instead of `en_us`.

[2016-01-18 12:07] jamuhl commented on #33
rather sure caused here: https://github.com/i18next/i18next-gettext-converter/blob/master/lib/plurals.js#L1072

a PR would be welcome to make this configurable....

[2016-01-20 17:41] VilmaRamos opened #35 "Newlines in msgstr are wrongly converted to .json"
The problem occurs when there's a msgstr that end with a newline. For instance, when my .po file contains:

[code]

When I try to convert from .po to .json, I'm expecting the following output

[code]
but instead I'm getting

[code]
Can you trim the strings before conversion?

Thanks!

[2016-01-21 09:21] jamuhl commented on #35
right...should not be that way by default when using v2 of i18next. thanks for reporting.

should be fixed in v2.1.1

[2016-01-21 09:21] #35 closed

[2016-02-26 14:03] megapctr opened #38 "Stream support?"
It would be awesome if this library accepted vinyl streams as sources. Then we could pass it the results from [i18next-parser](https://github.com/i18next/i18next-parser) without creating partial result directories

[2016-02-26 14:30] megapctr opened #39 "Make options optional"
Currently the options argument is required for all functions.
[code]

The library should check if it's `undefined` and fallback to empty object.

[2016-02-26 16:07] jamuhl commented on #38
right now i am to short on time for looking into this. feel free to create a pr.

[2016-02-26 16:08] jamuhl commented on #39
agree will be fixed in for next version

[2016-02-26 20:47] megapctr commented on #38
As a temporary workaround, I'm storing the results in a temp dir via [node-temp](https://github.com/bruce/node-temp).

[2016-03-08 14:08] jamuhl commented on #17
closing for now...

[2016-03-08 14:08] #17 closed

[2016-03-08 14:08] jamuhl commented on #12
closing for now...

[2016-03-08 14:08] #12 closed

[2016-03-08 14:09] jamuhl commented on #19
closing for now...

[2016-03-08 14:09] #19 closed

[2016-03-08 14:10] jamuhl commented on #20
should be solved by: https://github.com/i18next/i18next-gettext-converter/pull/41

[2016-03-08 14:10] #20 closed

[2016-03-08 14:11] jamuhl commented on #21
closing for now...PR still welcome

[2016-03-08 14:11] #21 closed

[2016-03-08 14:12] jamuhl commented on #25
2.3.0 updated to gettext parser..no idea if better now...closing...but feel free to reopen or providing a PR if still having issues.

[2016-03-08 14:12] #25 closed

[2016-03-09 09:54] #39 closed

[2016-05-11 08:39] max-mykhailenko opened #43 "Reverse generating problem"
Generated `mo` file doesn't work with php gettext and I try to test it. I generate `mo` file with node `converter.i18nextToGettext(languages[lng], source, target, options, callback);`. After that I trying to generate `json` from this `mo` and got this

[code]

How I can debug `mo` in another way or fix this issue?

[2016-05-11 10:21] jamuhl commented on #43
no idea - basically we use https://github.com/andris9/gettext-parser and there seems not to be an issue for that...and we're on the latest version.

no idea...most tests here go for po files - only one for mo

[2016-05-16 15:05] pvenakis opened #44 "Untranslated entries are converted to empty strings"
Hi, it seems that if I run i18next-conv on a .po file that has some untranslated entries, it will produce a json where the translation part is empty. This will make i18next to translate to an empty string. Is there a way to skip untranslated entries from being placed into the resulting json (so I can use the fallback methods provided by i18next)?

[2016-05-17 07:21] jamuhl commented on #44
no - there is no such option in i18next-conv right now - PR would be welcome

as a work around you can set returnEmptyString to false on i18next init.

[2016-06-15 21:32] queicherius opened #47 "Expose programmatic interface"
It would be neat if we could convert things into each other without requiring the files to exist as a necessity. I made a (pretty hacky) fork for it [here](https://github.com/i18next/i18next-gettext-converter/commit/5b733deaf27416494bfface453467b00b9491046#diff-168726dbe96b3ce427e7fedce31bb0bc), but I would appreciate this functionality in the main module. :)

If you would like to get a PR for thi

[2016-06-16 06:26] jamuhl commented on #47
PR's are very welcome. As i don't use this module personally it's hard to get it better without the help of the community...so feel free

[2016-06-16 07:30] perrin4869 commented on #47
I did part of the refactoring a few months ago when I wrote `gulp-i18next-conv` plugin actually.
But yeah this repo needs serious refactoring, there are portions where the indentation is in tabs and others in spaces... probably should setup eslint here. I would like to help here too.
Another thing, the `quite` option, which is false by default, should be changed in favor of a `verbose` option, whi

[2016-06-16 07:32] jamuhl commented on #47
if someone really is interested in this...i be open to hand over this repos admin rights and npm publish ownership

[2016-06-16 07:34] jamuhl commented on #47
else any PR will be merged and published....what you prefer is ok for me

[2016-06-18 04:37] perrin4869 commented on #47
Sure, I'll take you up on that offer, might have time to re-work this repo during the weekend.
My current plans are to replace the `quite` option with `verbose`, refactor into a programmatic API, and install airbnb eslint config.

[2016-06-20 23:11] queicherius opened #49 "Pluralisation for languages with multiple plurals is wrong"
Right now, the converter (`po` -> `json`) returns multiple plurals in the wrong format for i18next (e.g. for Czech):

[code]

I am guessing that is because i18next changed their format? The numbers are coming from [this file](https://github.com/i18next/i18next-gettext-converter/blob/master/src/plurals.js) and are set [here](https://github.com/i18next/i18next-gettext-converter/blob/master/src/gette

[2016-06-21 06:42] jamuhl commented on #49
correct... @perrin4869 is on a bigger rewrite...so i hope this gets addressed on the way...

[2016-06-21 12:19] perrin4869 commented on #49
actually, I am using i18next for languages like Japanese and Chinese which do not have plurals... so I am not well acquainted with the way plurals are supposed to work. Would appreciate a PR or a rundown of what the problem is here, I can tackle it with the rest no problem

[2016-06-21 12:26] perrin4869 opened #50 "Change quite option for verbose"
By default verbose is false, breaking change.

[2016-06-21 12:27] perrin4869 opened #51 "Replace color with chalk"
Should be rather straightforward

[2016-06-21 12:48] jamuhl commented on #49
if i get it right from i18next >= v3.x.x the new plural value is the index:

https://github.com/i18next/i18next-gettext-converter/blob/master/src/gettextWrapper.js#L487

should be changed to ` return `_${i}`;`

[2016-06-21 19:30] queicherius commented on #49
It's only the index for languages with > 2 plural forms, so it should be something like this:

[code]

[2016-06-22 12:08] perrin4869 commented on #47
@jamuhl I think it might be a good idea to separate the cli into a separate repository, `i18next-gettext-converter-cli`, and npm package, `i18next-conv-cli`, and have this library here be just the API. Babel does something similar with `babel-core` and `babel-cli`, etc. Any thoughts?

[2016-06-22 13:01] jamuhl commented on #47
@perrin4869 personally i think its a little overengineered looking the size of converter...just exposing `bin` and `main` seems ok for me...but if you prefer we could add another repo...

[2016-06-22 15:43] #51 closed

[2016-06-22 15:45] perrin4869 commented on #47
Hm... the reason I want to do this, is actually that the bin file has es6 which need to be transpiled... and I'm not sure where to put the source for that. The cleanest solution is to have a separate repo for the CLI... although that is slightly more work to complete. Any better ideas?

[2016-06-22 15:53] queicherius commented on #47
Let's say you transpile the code from `src/bin.js` and `src/interface.js` into `dist/`, then you can just do the following:

[code]

That way you can transpile all the code, have the binary as you are used to, and can require the interface as expected:

[code]

[code]

[2016-06-22 16:00] perrin4869 commented on #47
@queicherius well yeah, that's a solution, but the perfectionist in me doesn't wanna put the `bin.js` into `src`, with all the API related files... I feel like it should be separate... although I might just go down that route since it's the easiest

[2016-06-22 16:02] queicherius commented on #47
I am used to just making subfolders in the `src` directory like `src/api/...` and `src/bin/...` :smile:

[2016-06-23 07:10] perrin4869 commented on #50
No longer necessary

[2016-06-23 07:10] #50 closed

[2016-06-23 07:16] jamuhl commented on #47
just let me know if you need an additional repo...both variants have it ups and downs

[2016-06-23 07:31] perrin4869 commented on #47
I ended up going with the solution proposed by @queicherius
Just finished exposing the API now! It's a promise based API. Tell me what you think about it, if it's good we can close this issue :)

[2016-06-23 15:50] queicherius commented on #47
The interface looks good! 👍

[2016-06-24 01:22] #47 closed

[2016-06-24 03:21] perrin4869 commented on #49
Just pushed the fix. I think I got this right. That being said, I'm not very well acquainted with how plurals work. If it's still not right, I'd appreciate a PR!

[2016-06-24 03:21] #49 closed

[2016-06-24 07:18] perrin4869 commented on #44
Implemented as `skipUntranslated`, will make a release later!

[2016-06-24 07:18] #44 closed

[2016-06-24 07:31] pvenakis commented on #44
awesome, thanks!

[2016-06-24 08:46] perrin4869 commented on #44
Released just now :)

[2016-06-24 16:13] queicherius commented on #49
Just wanted to confirm that everything is working. Thank you for the new release @perrin4869! 🎉

[2016-06-24 16:23] perrin4869 commented on #38
Not entirely sure what it is you can do, but you can take a look at my [gulp-i18next-conv](https://github.com/perrin4869/gulp-i18next-conv) plugin for hints of how to use vinyl files with this module. Basically the new API just released allows you to do anything you want :)

[2016-06-24 16:27] perrin4869 commented on #49
Awesome!!!

[2016-06-25 06:51] megapctr commented on #38
Great, thanks. I think we can close this

[2016-06-25 06:51] #38 closed

[2016-06-25 15:56] perrin4869 opened #52 "Plural numbers"
@jamuhl In the [plurals](https://github.com/i18next/i18next-gettext-converter/blob/master/src/lib/plurals.js) file you have an array of numbers, which doesn't seem to be used at alll except for its length. Do you know if it is safe to remove then? What was it used for?

[2016-06-26 05:43] jamuhl commented on #52
was used for plurals in pre v3 i18next: http://i18next.com/docs/jsons/

pre v3 the number was used as suffix, now the index is taken like in gettext.

[2016-06-26 12:23] perrin4869 commented on #52
Cool, thanks for confirming! Removed the arrays since they are redundant.

[2016-06-26 12:23] #52 closed

[2016-10-12 18:21] sourceRS opened #55 "Tracking file path references for each key"
(I opened a related issue for the i18next-parser here: https://github.com/i18next/i18next-parser/issues/55)
## tldr:

Wanting to add the functionality to track file path references to each key for the purpose of having those comments end up in .po files for our translators to get better context as-needed, requiring modifications both in this repo and in the [i18next-parser](https://github.com/i18n

[2016-10-13 13:34] jamuhl commented on #55
Personally i passed over maintenance to @perrin4869. No idea how he thinks about this addition.

[2016-10-13 16:49] perrin4869 commented on #55
@sourceRS I will be happy to merge this after looking at the PR, I guess it can be useful to the community :).
@jamuhl any opinions on this?
Thanks!

[2016-10-13 16:57] jamuhl commented on #55
i'm for a merge...as long we stay backward compatible.

[2016-10-13 17:52] sourceRS commented on #55
awesome, thanks @perrin4869!
yeah, @jamuhl that is my goal :)
PR's coming shortly

[2017-04-25 06:05] rijk opened #57 "Expose the --project option"
Can we expose this option in the command line parameters, so we can tweak the project name in the PO files?

https://github.com/i18next/i18next-gettext-converter/blob/master/src/lib/json2gettext.js#L62

[2017-04-25 07:24] perrin4869 commented on #57
Sure thing! Could you send a PR? Thanks!

[2017-06-13 09:54] AKFourSeven opened #59 "Conversion errors"
I have notice that I had few conversion issues when using the converter and it might have to do with the architecture of my json.

My json looks like this:

[code]

The civilities (not sure if that is a real word) is used for dropdown purposes and as a result, I get this output:

[code]

Is this type of formatting not possible at all ?

[2017-06-18 16:07] jamuhl commented on #59
Sorry for the late reply. Would accept a pull request.

[2017-06-19 02:34] perrin4869 commented on #59
@

[2017-06-19 02:34] perrin4869 commented on #59
@AKFourSeven I missed this, I'll check your PR if you send it :D

[2017-06-19 14:05] AKFourSeven commented on #59
By sending a pull request you imply that this is not possible as it with the current version of **gettext-converter** ?

[2017-06-20 02:18] perrin4869 commented on #57
I'll do this this week, stay tuned!

[2017-06-20 02:18] perrin4869 opened #60 "Upgrade to node-gettext v2"

[2017-06-20 02:21] perrin4869 opened #61 "Deprecate filter option"
I don't see the value of having filter in the core library, since you could actually filter the translations yourself after completion...
Any opinions @jamuhl?

[2017-06-20 02:33] perrin4869 commented on #61
ok I see a possible use like "filtering by comment" which would be lost otherwise

[2017-06-20 02:33] #61 closed

[2017-06-20 03:59] jamuhl commented on #61
@perrin4869 not sure - but i believe this was added later to the mix (or at least i can't remember that).

[2017-06-21 00:40] perrin4869 commented on #60
released in 4.0.0

[2017-06-21 00:40] #60 closed

[2017-06-21 00:40] perrin4869 commented on #57
released in 4.0.0 :D

[2017-06-22 08:43] rijk commented on #57
So weird.. When I use the `--project` parameter, it doesn't write the .po files anymore.. It says 'file written', but no path and the file is not written:

Normal:
[code]

With new `--project` flag:
[code]

[2017-06-22 13:58] delphiactual opened #62 "CLI Problems"
-ks does not work as an option, error produced: `error: unknown option '-k'`
--keyseparator works as intended.

--project stops all processing https://github.com/i18next/i18next-gettext-converter/issues/57#issuecomment-310316386

i18next-conv: `4.0.1`

[2017-06-23 03:21] perrin4869 commented on #57
will take a look at this during the weekend!

[2017-06-23 03:22] perrin4869 commented on #62
will take a look at this during the weekend! If you can send a PR it'll be a huge help!

[2017-06-27 10:12] siavashkavousi opened #63 "i18next variable interpolation"
I convert my .po file using this lib but I have problem using interpolation in i18next.

for example my .po file is:
[code]

I use it like this `i18next.t('Date: {date}', {date: '2017/2/2'})` but it doesn't work.

[2017-06-27 10:14] jamuhl commented on #63
formatting format is like https://www.i18next.com/formatting.html

[2017-06-27 10:21] siavashkavousi commented on #63
But it's not working...
I use it like this `i18next.t('Date: {date}', {date: '2017/2/2'})`
but it's not working

[2017-06-27 10:22] jamuhl commented on #63
`i18next.t('Date: {{date}}', {date: '2017/2/2'})` -> doube `{{` ... `}}`

[2017-06-27 10:24] jamuhl commented on #63
or change the settings for prefix/suffix on init call: https://www.i18next.com/interpolation.html#all-interpolation-options

[2017-06-27 10:25] siavashkavousi commented on #63
output json is:
![screenshot from 2017-06-27 14-54-19](https://user-images.githubusercontent.com/11883216/27583104-8ae99776-5b48-11e7-8d44-d7ed5260ceaa.png)
I've used what you say and it worked but it's a different key from what I have in my translation file.

[2017-06-27 10:30] jamuhl commented on #63
msgid: "Date: {date}"
  msgstr: "foo: {date}"

-> key: "Date: {date}"

where is the difference...sorry do not see it

[2017-06-27 10:39] siavashkavousi commented on #63
Sorry let me go into more details

assuming I have a translation .po file with the following content
[code]
Then I convert it to .json using and .json file looks like:
[code]
and set i18next
[code]

and at last in my app if I use it like this
[code]
output will be
[code]
w/o interpolating date and if use it like the following
[code]
output will be
[code]
w/o translating.

[2017-06-27 10:43] jamuhl commented on #63
And i told you single `{` will not work on interpolation as default is `{{`

a) change that in your translation files
b) change the options like told in the provided link:

[code]

[2017-06-27 10:48] siavashkavousi commented on #63
Oh thanks I didn't see that message :sweat_smile: and I've tried an older syntax for interpolation options

didn't notice changes.
Thanks.

[2017-06-27 17:07] siavashkavousi commented on #63
Sorry for reopening
The same example above if I want to unescape interpolated variable it doesn't get translated
[code]

[2017-06-27 17:15] jamuhl commented on #63
same: https://www.i18next.com/interpolation.html#all-interpolation-options

should work if you set the prefix/suffix correctly

[2017-06-27 17:27] siavashkavousi commented on #63
It worked in escaped mode (without using dash)

[2017-06-27 19:12] jamuhl commented on #63
Relevant is what is in your value...not what you write in the key.

`"Date: {date}": "foo: {- date}"`

[2017-06-27 19:13] jamuhl commented on #63
if you change the key inside t it will not find translation.

[2017-06-27 20:28] #63 closed

[2017-06-27 20:30] jamuhl commented on #63
alternatively you can do: i18next.t('Date: {date}', { date: '2017/2/2', escapeValue: false })

[2017-06-27 21:33] siavashkavousi commented on #63
that's what I've done at the end :). Thanks a lot.

[2017-07-03 14:01] perrin4869 commented on #57
Fixed in 4.0.2!

[2017-07-03 14:01] #57 closed

[2017-07-03 14:19] perrin4869 commented on #62
changed -ks option to -k in 4.0.3, tell me if there are any remaining problems!

[2017-07-03 14:19] #62 closed

[2017-07-03 16:20] rijk commented on #57
Sweet, confirm it's working now.

[2017-09-03 09:13] perrin4869 commented on #59
Yeah, seems so =/
Not sure exactly how to handle this though, leave this up to you if you wanna implement this feature

[2017-09-03 09:14] perrin4869 commented on #43
I imagine this problem has been solved by upgrading `gettext-parser` and the new `gettextDefaultCharset` option - please reopen if this is still an issue

[2017-09-03 09:14] #43 closed

[2017-09-20 16:41] firebird631 opened #65 "Conversion from .mo give empty json"
When I convert from a .po the conversion is done, and json file filled but not when doing from .mo.

[2017-09-20 16:46] firebird631 opened #66 "Plural form generation from .po"
I've something like this in my .po :

[code]

According to the doc I should have in JSON characters_min and characters_min_plural keys.
But in practice what I've is :

[code]

What I need is :

[code]

Thx

[2017-09-27 02:45] perrin4869 commented on #65
Can't really look at this now, can you send a PR? Thanks!

[2017-09-27 02:45] perrin4869 commented on #66
Ditto

[2017-10-09 14:08] rankida opened #67 "Wrong `Plural-Forms` for Brazilian Portuguese"
Hi. Thanks for this great tools!

I have encountered an issue when trying to generate a PO file for Brazilian Portugal. This may be user, error, but this is what I see:

I run
[code]
where `hello.json` is nothing more than `{ "Hello": "Olá" }` and I get a PO file with
[code]
The issue is that for Brazillian Portuguese it should be `nplurals=( n > 1)`, and it is correct in `plurals.json` here https

[2017-10-09 14:11] jamuhl commented on #67
did you try `./node_modules/.bin/i18next-conv -l pt-BR -s hello.json -t hello.po` ?!?

notice `pt_br` vs `pt-BR`

[2017-10-09 14:13] rankida commented on #67
Yes, `./node_modules/.bin/i18next-conv -l pt-BR -s hello.json -t hello.po` gave the same
[code]

[2017-10-09 14:15] rankida commented on #67
Sorry, I linked to the wrong file. I suspect the issues is here https://github.com/i18next/i18next-gettext-converter/blob/7ece5fc16bc121285925c18ef588d86440bb67ab/src/lib/json2gettext.js#L42-L53 , specifically this line https://github.com/i18next/i18next-gettext-converter/blob/7ece5fc16bc121285925c18ef588d86440bb67ab/src/lib/json2gettext.js#L43

[2017-10-09 14:23] jamuhl commented on #67
right should convert `_` and work anyway.

but https://github.com/i18next/i18next-gettext-converter/blob/master/src/lib/plurals.js#L489

the rule taken is `pt` as the code splits at `-` and takes only `pt` to lookup plural rule

looking at http://www.unicode.org/cldr/charts/29/supplemental/language_plural_rules.html#pt i guess the rule `plurals: '(n > 1)',` would be correct

[2017-10-09 14:24] jamuhl commented on #67
but looking at: http://docs.translatehouse.org/projects/localization-guide/en/latest/l10n/pluralforms.html plural rules for portugues and portugues in brasil are different...

as i speak neither i'm not sure which source is right

[2017-10-09 14:35] rankida commented on #67
http://docs.translatehouse.org/projects/localization-guide/en/latest/l10n/pluralforms.html was my reference source also.

Our Brazilian translators gave us a PO file with `"Plural-Forms: nplurals=2; plural=(n > 1);\n"` which is how this came up. My understanding is that this differs from regular Portuguese which is `n != 1`

A quick google seems to confirm it here https://doc.qt.io/archives/qq/qq1

[2017-10-09 14:42] jamuhl commented on #67
honestly wasn't aware that regional locals of a language even goes on changing the pluralforms - that's the reason why - even the CLDR which is the base of most localization tools does not differ there.

@perrin4869 a solution would be to test first if a rule exists for a full match eg. `pt-BR` before taking `pt` - what do you think?

[2017-10-09 14:51] jamuhl commented on #67
ok seems http://www.unicode.org/cldr/charts/26/supplemental/language_plural_rules.html new default is now pt = pt-BR and a special treatment for pt-PT ;)

does it make sense...? Think i need to update this on i18next as well...:(

[2017-10-09 14:56] rankida commented on #67
I can try and check with the translator we used. I don't speak the languages, so can't say.

I too didn't realise the extent of regional variations until this bug came in.

[2017-10-09 14:57] jamuhl commented on #67
rather sure http://www.unicode.org/cldr/charts/26/supplemental/language_plural_rules.html is right...it should be n > 1 for pt-BR

[2017-10-10 06:28] jamuhl commented on #67
made the needed change to i18next and published an update: https://github.com/i18next/i18next/commit/c5113fb62326155e671def12bc7386f44643b0d1

[2017-10-10 14:16] rankida commented on #67
Thanks for your hard work.

I guess a similar change will be needed here too?
https://github.com/i18next/i18next-gettext-converter/blob/7ece5fc16bc121285925c18ef588d86440bb67ab/src/lib/gettext2json.js#L134

[2017-10-10 15:41] jamuhl commented on #67
right...i hope @perrin4869 will do this change in the next days....

[2017-10-10 15:45] rankida commented on #67
Thanks again.

If needed I could look at proposing a Pull Request based on your `i18next` change.

[2017-10-11 17:41] perrin4869 commented on #67
@rankida if you send a PR, I can review it on Sunday. It would be highly appreciated

[2017-10-12 09:44] rankida commented on #67
No problem @perrin4869 I will give it a go.

One question - @jamuhl's change https://github.com/i18next/i18next/commit/c5113fb62326155e671def12bc7386f44643b0d1 moves European Portuguese (`pt-PT`) to be the _special case_, rather than Brazilian Portuguese. This seems to agree with the Unicode docs but differs from your commented reference of http://translate.sourceforge.net/wiki/l10n/pluralforms

W

[2017-10-12 09:50] jamuhl commented on #67
@rankida i think / believe / guess unicode docs are wider used...that's why i decided on using their favour ;)

[2017-10-12 16:01] rankida commented on #67
Let me know if #68 needs fixedup

[2017-10-16 04:24] perrin4869 commented on #67
Merged and published as `5.0.0`, please reopen if the problem persists!

[2018-01-12 12:45] BusfyJan opened #70 "Could 'gettextToI18next' function be synchronous?"
I would like to use this function in 'parse' function of 'backend' option of i18n.init({}) function, but 'parse' function cannot return Promise.

Something like this:

[code]

https://github.com/i18next/i18next-gettext-converter/blob/b49e88ccbcdecf5c342de1844aa944fbeb957a54/src/lib/gettext2json.js#L39

[2018-01-12 12:53] jamuhl commented on #70
what backend implementation you use fs? that has no parse option only xhr for clientside has that if i remember right?!?

why not creating a own backend based on fs backend using gettext-converter? https://www.i18next.com/misc/creating-own-plugins.html#backend

or did you already try: https://github.com/palamccc/i18next.gettext/

[2018-01-13 10:08] perrin4869 commented on #70
hm... I don't remember why I made it asynchronous, but I do agree with jamuhl, probably the best solution would be to make a custom backend.
I will consider this for the next major release though... whenever that may be...

[2018-01-15 06:54] BusfyJan commented on #70
I use XHR backend implementation.
I wanted to use i18next.gettext as my backend, but I am not sure how to use it.

@jamuhl
I wanted to use i18next.gettext as my backend, but I am not sure how to use it properly. Could you please provide me with some examples?

@perrin4869
And what about adding custom option to enable synchronous resolving? Would that be possible as a minor release?

[2018-01-15 07:01] perrin4869 commented on #70
Hm... I could add a `gettextToI18nextSync` function I guess

[2018-01-15 07:03] BusfyJan commented on #70
That would be great and would help me a lot 👍
Do you need my help with that?

[2018-01-15 07:07] perrin4869 commented on #70
Yeah, I'd really appreciate it if you send me a PR with it :)

[2018-01-15 07:15] jamuhl commented on #70
@BusfyJan don't think you can just use the xhr backend and directly load gettext files...you will need to convert those upfront or like said create a new node.js backend to make those conversions on the fly

[2018-01-15 07:24] BusfyJan commented on #70
@jamuhl Yeah, but I need to be able to convert gettext files on the client, because I am not allowed to create node.js backend because I am working on pure frontend project 😒

[2018-01-15 07:27] perrin4869 commented on #70
@BusfyJan how about adding a conversion of `gettext -> json` step to your build process?

[2018-01-15 07:31] BusfyJan commented on #70
@perrin4869 I have a conversion like that in my build step right now. But I wanted to avoid this step 😄  Do you think it is a better idea to convert .po -> .json as build step?

[2018-01-15 07:34] jamuhl commented on #70
@BusfyJan for sure the idea of converting during build request is a lot better than on every client when loading the file (just out of performance that would not work well i think) -> do it during build time...

[2018-01-15 07:34] perrin4869 commented on #70
I do it in my own personal projects, so the answer is yes :)

[2018-01-15 08:08] BusfyJan commented on #70
Okay guys, you have persuaded me 😄
Thank you for your time and help. I will stick to the converting during build step.
We can close this issue 😄

[2018-01-15 10:08] perrin4869 commented on #70
I'll keep this open because I still wanna reevaluate whether or not the functions should be sync or async

[2018-01-23 18:27] difelice commented on #66
What's the status of this issue?

[2018-01-24 03:46] perrin4869 commented on #66
No progress, will appreciate a PR

[2018-01-24 11:51] firebird631 commented on #66
Sorry I no longer use of gettext and so PO files into my client side. I have no more ideas about the issue.

[2018-11-04 00:54] meglio opened #76 "Why "##" separator in generated translation keys in PO/MO?"
When converting the following JSON to a PO file:

[code]

Key generated is `signup##title`.

Why does it use `##` instead of a dot, and is there a way to adjust it?

[2018-11-04 00:57] meglio commented on #76
UPD. I can see the `keyseparator ` option. But still, out of curiosity, why `##`? is there any standard or convention for this?

[2018-11-04 07:56] jamuhl commented on #76
Not sure...on the time we created this it seemed to be a save bet to do so.

keySeparator might be only be used in the JSON not sure -> if not configurable you might create a PR todo so.

[2018-11-04 09:36] meglio commented on #76
`--keyseparator` option did work. Thanks.

[2018-11-04 09:36] #76 closed

[2018-11-08 11:52] rankida opened #78 "New fuzzy check (v7.1.0) crashes if message has no comments"
If you have a PO file that contains messages that do not have comments then it crashes with:
[code]

The bug was added in https://github.com/i18next/i18next-gettext-converter/pull/75

PR coming shortly...

[2018-11-09 01:09] #78 closed

[2018-12-12 14:56] nils-hoyer opened #80 "generate pot file from cli"
can you please provide a functioning example for generating a .pot file.
I tried to execute the command with all necessary parameters:

`i18next-conv --pot -l en -s 'path/to/file' -b 'path/to/file' -K`

produces:
`start converting
--> reading file from: ..../file.json
<-- writing file to: ..../en/file.po
file written`

[2018-12-14 08:06] jamuhl commented on #80
does only pot not work or in general?

[2018-12-14 08:53] nils-hoyer commented on #80
the issue only occurs when generating .pot from cli.
`i18next-conv --pot -l en -s 'path/to/file' -b 'path/to/file' -K`

from the API it was working fine.
`i18nextToPot('ua-UK', readFileSync(source), options).then(save('../locales/ua-UK/translation.pot'));`

[2018-12-14 08:57] jamuhl commented on #80
so other commands work from CLI? if so i'm sure @perrin4869 will look into this - you might speed this up by providing a PR containing a fix

[2019-01-31 14:06] mvirbicianskas opened #81 "Passing options to `GettextParser.po` compiler in `i18nextToGettext`"
Hello, everyone, sorry if this issue was created somewhere, I tried to searching through the list but did not find anything relevant.

The problem I've encountered is that when I'm trying to parse `json` -> `po` I get the following output of po file:
[code]
whereas expected output would be:
[code]

I've dug deep into the library and found out that `pocompiler` which is used by `gettext-parser` has

[2019-01-31 14:51] jamuhl commented on #81
If i see it right multiline is in the spec: https://www.gnu.org/software/gettext/manual/html_node/Normalizing.html

so

[code]

is valid - not sure what we can do here as we depend on the gettext-parser and won't build our own solution just to make your translation management happy (try ours https://locize.com  - best fit for i18next anyway)

[2019-02-01 05:46] mvirbicianskas commented on #81
I see, it's all very good that it is in the spec (sorry if I came on wrong footing! I'm just not very familiar with the spec), but it would be more awesome to be able to pass options to the parser as well, it's not even a breaking change, just an optional feature 😉

[2019-02-01 07:06] mvirbicianskas commented on #81
Fantastic! But I've never contributed to open source projects yet, I'd be glad to do that, are there any guidelines I should follow? Or just fork it, create upstream, do some changes, push and PR?

[2019-02-01 09:08] perrin4869 commented on #81
That's it, that's all there is to it ;)

On Fri, Feb 1, 2019, 4:06 PM mvirbicianskas <notifications@github.com wrote:

[2019-06-10 11:17] sindhuanamal opened #84 "Wrong conversion of the strings while converting .po file to .json file"
Hi,

After converting .po file to .json the msgstr "Päivitä" below

msgid "Update"
msgstr "Päivitä"

converts to string like below,

"Update": "PÃ¤ivitÃ¤",

and the .po file is encoded in utf-8.

Thanks.

[2019-06-11 10:05] sindhuanamal commented on #84
Seems like the problem with the translation server. closing this issue.

[2019-06-11 10:05] #84 closed

[2019-07-03 15:31] adrai opened #85 "Cannot read property 'nplurals' of undefined when using dev language"
Using the default `dev` language of i18next:

[code]

Is this intended to fail? Can there be a handling like using "en" plural rules?

[2019-07-11 10:02] sindhuanamal opened #86 "conversion from po to json the string with , is seperated into two strings"
Hi,
i have a string in po file like

#: No internet,
#:  retry.
msgid "No internet, retry."

when converting this to json it gives two keys like below
"No internet": "",
"retry": "",

Could someone let me know how to fix this. thanks.

[2019-10-28 09:04] jamuhl opened #87 "FUNDING.yml"
@perrin4869 I just added funding defaults to the i18next organization (so I don't have them to add everywhere). Most repos maintained by individuals already had a FUNDING.yml defined...

Feel free to add a FUNDING.yml pointing to sponsoring sources you control: https://help.github.com/en/github/building-a-strong-community/displaying-a-sponsor-button-in-your-repository

[2020-02-01 19:08] shirazz commented on #80
Tried to create a .pot file using the CLI and got the same issue. Did a quick check on the code. [This condition](https://github.com/i18next/i18next-gettext-converter/blob/master/src/bin/index.js#L123) will be triggered when no target is specified. So i just added a `-t 'path/to/save/file'` and it worked.

[2020-02-02 08:27] jamuhl commented on #80
So checking for `--pot` and depending on it set the correct extension should do the trick

[2020-03-06 20:14] oasalonen opened #90 "Using --keyasareference with duplicate text breaks when converting back to i18next"
I have the an i18next JSON source file that contains duplicate text items for different keys. One instance looks something like this:

[code]

I convert this to gettext with
[code]

The resulting `source.pot` file looks like this:
[code]

Now translators provide a translation in a tool supporting gettext and I convert it back to i18next JSON with
[code]

The resulting i18next JSON looks like this:

[2020-03-06 20:39] jamuhl commented on #90
Has todo with using `-K`. Not even sure who and when this got introduced...should work without using it...

[2020-03-07 07:29] oasalonen commented on #90
Yes that will fix the issue from a technical point of view and will probably be what I end up doing.

However, I'm using the -K (--keysasareference) switch because I want the reference text (English) to be the msgid in the gettext format. Without the -K switch, the resulting gettext file is

[code]

I'm trying to get the reference text in the msgid field because the translation tool (Mozilla Ponto

[2020-03-07 08:19] jamuhl commented on #90
I'm rather sure whoever implemented that feature did not expect that there are same keys in a file...

[code]

that would need some extra delimiter separating keys - currently, it looks just like adding to it replacing `.` with `##`

Wondering why Pantoon uses the key as reference text - Pantoon supports fluent (mozilla) which does not use source text in keys but pure technical keys...

If you lik

[2020-03-07 09:11] oasalonen commented on #90
I've flattened my i18next JSON (no more nested keys) to help debug the issue. I'm seeing something strange going on which I don't yet understand. The flattened version looks now like this (I've added another string, 'City' to demonstrate the behavior):

[code]
The resulting gettext is this:
[code]
Note how in the 'City' conversion, the `profile.contact-details` keys have been separated to their ow

[2020-03-07 09:16] oasalonen commented on #90
But just to clarify: even if this is somehow fixed, I will not be using this approach going forward because all the instances of the 'City' text will get the same translation, which may not always be the case. I will use my original keys as msgids

[2020-03-07 09:35] oasalonen commented on #90
Nevermind, this was actually caused by a msgcat that I ran as part of the conversion process. It merged some gettext comments which resulted in these problems.

[2020-03-07 09:35] #90 closed

[2020-03-09 15:39] oasalonen commented on #90
Just a quick update: I decided to dump gettext completely and use Fluent with Pontoon. Unfortunately there doesn't seem to be a stable project to convert i18next JSON to Fluent. The only one I found was [i18next-to-fluent](https://github.com/artkravchenko/i18next-to-fluent) and its author discourages its use in production. However, I'm using it successfully by being careful to use a subset of i18n

[2020-03-09 17:29] jamuhl commented on #90
Ah I see...while there is i18next-fluent - there is no real extraction tooling to get that saved as .ftb files...

Hm...guess that is still a good selling point for our locize.com - which works out of the box using the runtime submission of missing keys.

[2020-04-25 12:17] Heziode opened #93 "Nesting not supported ?"
From [the doc](https://www.i18next.com/translation-function/nesting):

[code]

If I convert to gettext, I get something like this:

[code]

[2020-04-25 13:33] jamuhl commented on #93
That's what is expected...what do you expect?

[2020-04-25 13:37] Heziode commented on #93
There is no nesting feature in GetText ?

Furthermore, path like this are not converted:
[code]

Give something like this:

[code]

Instead of something like this:

[code]

Or am I wrong?

[2020-04-25 13:46] jamuhl commented on #93
This lib is not about making i18next and gettext compatible...it's using gettext fileformat with i18next

[2020-04-25 13:49] Heziode commented on #93
Oh, right.

Do you know a lib for compatibility?

[2020-04-25 13:49] #93 closed

[2020-04-25 13:50] jamuhl commented on #93
no...sorry not aware of any converting those from each other

[2020-04-30 14:07] himynameissebbo opened #94 "TypeError: Cannot read property 'option' of undefined"
Hello,
I experience an error after upgrading `i18next-conv` to from `9.2.1` to `10.0.1`. It seems that the version is not correctly passed while getting all the options. The version arg is `undefinded` somehow. The error message is:

[code]

It breaks while executing this code:
[code]

Are there any breaking changes I've missed to adapt in the configuration? I am really thankful for any help here.

[2020-04-30 14:50] perrin4869 commented on #94
Please try `10.0.2`, reopen if the problem persists! And if you feel like adding regressions tests you are more than welcome :P

[2020-04-30 17:04] himynameissebbo commented on #94
Thanks for the quick fix man! Is working now! 💯

[2020-04-30 17:04] #94 closed

[2020-08-10 19:04] rebeccaalpert commented on #80
What sort of file needs to be supplied for the -b parameter? We've been successful generating po files and converting po files on the command line, but we can't get this to work with the -t parameter and path.

[2020-10-29 13:28] rebeccaalpert opened #96 "Exported files missing Language field"
## 🐛 Bug Report

i18nextToPo and i18nextToPot do not add the language to the header information in the exported file.

Our headers look something like this:
[code]

According to our translation team (and some earlier bug reporters), there should be a `"Language: ja\n"` field as well.

## To Reproduce

Our call looks like this:
[code]

## Expected behavior

We would expect to see a `"Language: ja\n

[2020-10-29 15:33] jamuhl commented on #96
pull request welcome

[2020-10-29 16:37] rebeccaalpert commented on #96
Cool, I'll look into it as I have time.

[2020-10-30 07:06] adrai commented on #96
@rebeccaalpert You may try to call it like this:

[code]
Or try a PR that takes the locale as fallback for the Language Field, like: https://github.com/locize/gettext-converter/blob/master/lib/i18next2po.js#L51

[2020-11-03 17:02] #81 closed

[2020-11-04 22:35] rebeccaalpert commented on #96
Perfect. Thanks @adrai.

[2020-11-04 22:35] #96 closed

[2020-11-04 22:42] rebeccaalpert opened #98 "Converter can't handle keys with underscores"
## 🐛 Bug Report

It seems like keys can't contain underscores.

## To Reproduce

We have a JSON file that contains the following:
[code]

After you run `i18nextToPo('ja', fs.readFileSync(file), { language: 'ja', foldLength: 0 }).then(
      save(...));`, you get something like this:

[code]

## Expected behavior

The expected PO file would look like this:

[code]

## Your Environment

- *runtime v

[2020-11-04 22:46] rebeccaalpert commented on #98
Posted too soon. I suspect this is due to the default context separator. I'll see if we can switch ours to something else or escape these.

[2020-11-04 22:46] #98 closed

[2021-10-06 17:52] eMerzh opened #105 "JSON export should be in V4 format"
## 🐛 Bug Report

Converted JSON Format is not compatible with I18Nnext any more

seems that the format has changed in v21.0.0, and the format used is V3... we need to support V4 now

## To Reproduce

compile po to json (with plurals ... the main diff)

## Expected behavior

V4 format is used :)

[2021-10-07 05:09] perrin4869 commented on #105
A PR would be very very helpful :)

[2021-10-07 08:37] perrin4869 commented on #105
Maybe we could collaborate to factor out the common parts into a common lib to reduce duplicate efforts? Not sure if that would make sense though

[2021-11-15 15:14] #105 closed

[2021-11-15 15:25] perrin4869 commented on #105
@eMerzh Released in `v11`!

[2021-11-15 15:33] eMerzh commented on #105
thanks, @perrin4869  👏
I'll test that soon

[2021-11-23 10:17] jsomsanith-tlnd opened #113 "CLI doesn't get the arguments"
## 🐛 Bug Report

With i18next-conv@11.0.1, the cli doesn't work anymore, because it doesn't get the arguments.

## To Reproduce

[code]

produces

[code]

## Expected behavior

The command is correct, it should run the conversion process.

## Your Environment

Not linked to the env

[2021-11-23 10:18] jsomsanith-tlnd commented on #113
I have done a fix PR: #112 112

[2021-11-23 23:25] #113 closed

[2021-11-23 23:37] perrin4869 commented on #113
Released in `11.0.2`

[2021-11-25 08:32] jsomsanith-tlnd commented on #113
Thank you @perrin4869 for the release !

[2021-12-29 16:23] borost1 opened #124 "CLI fails to execute"
Hi,
I am barely used to needing global node modules this much and I am quite stuck.
I have globally installed the package, yet even an `i18next-conv` gives me the following error in the console:
[code]

I have absolutely no clue why it is not working.
My system is:
[code]
Node version: v10.19.0

It is absolutely possible that I have missed something, yet I tried checking all documentation without

[2021-12-29 16:27] adrai commented on #124
https://github.com/i18next/i18next-gettext-converter/releases/tag/v11.0.0
**Support node >= 12**

[2022-02-09 16:00] pierrebaronqumu opened #143 "Plurals generation from .po for language with no plurals"
## 🐛 Bug Report

Hi,

I am using this tool to generate locales in multiple languages. My source files are `.po` files that I transform into `.json` files. Everything works fine for most languages but I noticed that the plural forms are not working correctly if the language does not have any plural forms (like Japanese)

I receive the `.po` files from a translation tool and I, therefore, do not wan

[2022-02-09 16:13] pierrebaronqumu commented on #143
Closing as it should be in this repo https://github.com/locize/gettext-converter/issues/5

[2022-02-09 16:13] #143 closed

[2022-02-09 16:25] jamuhl commented on #143
Looking at i18next (v3 plurals) it uses the _0 suffix for "plurals" in those languages: https://jsfiddle.net/6bpxsgd4

[2022-02-09 16:44] adrai commented on #85
should be fixed in new version

[2022-02-09 16:44] #85 closed

[2022-02-09 16:47] adrai commented on #86
should be correct with new version

[2022-02-09 16:47] #86 closed

[2022-02-09 16:48] adrai commented on #70
This module can be used: https://github.com/locize/gettext-converter

[2022-02-09 16:48] #70 closed

[2022-02-09 16:49] #124 closed

[2022-02-09 16:50] adrai commented on #66
should work with newest version

[2022-02-09 16:50] #66 closed

[2022-02-09 16:51] #65 closed

[2022-02-09 16:57] #55 closed

[2022-02-15 18:55] jashment opened #147 "No error thrown when error in .po file"
## 🐛 Bug Report

When there is an issue in a translated .po file, the error isn't thrown and no information is logged about the error. For example:

`msgid "This is a string"`
`msgstr "This is a "string"`

Where the error is an extra set of quotes right before the msgstr "string".
Given the above .po file, no error will be raised, nothing will be written, and "file written" will be incorrectly log

[2022-02-16 21:06] jashment opened #149 "Node 16 not supported"
## 🐛 Bug Report

This package does not work with Node version 16.

## To Reproduce

1. Set node environment to v16
2. Create a simple po file:
[code]
3. Use i18next-conv with the following command:
[code]
4. The conversion will say "file written" in green. If you try to find out.json, it will not exist.

## Expected behavior

Expect the conversion to work and out.json with the translated strings.

[2022-02-17 07:33] perrin4869 commented on #149
Oh so sorry, somehow that escaped me! That's a mistake, it should be `mkdirSync` instead. I will fix this, thanks for the report!

[2022-02-17 07:39] #149 closed

[2022-02-17 07:55] perrin4869 commented on #149
Released in `v12.0.1`

[2022-03-07 02:48] #147 closed

[2022-04-13 00:47] javiermatos opened #171 "Option --foldLength does not work"
## 🐛 Bug Report

Adding --foldLength to command does not work. The option is defined as a boolean so you will get a bad output file with 1 length fold.

## To Reproduce

Just run the command and use --foldLength flag.

## Expected behavior

The option must take a value to apply fold length correctly.

[2022-04-13 01:21] #171 closed

[2022-04-13 01:24] perrin4869 commented on #171
Released `12.1.1`, thanks!

[2022-11-10 08:21] Cielquan opened #231 "Add option to set JSON indentation depth"
## 🚀 Feature Proposal

Add an option to specify the indentation of the JSON file when converting from po to JSON files.

## Motivation

I use a simple custom script which uses i18next-conv to convert my po files to JSON files. I also use prettier for auto-formatting via pre-commit. prettier by default indents JSON files by 2 spaces, but i18next-conv creates them with [4 spaces](https://github.com/

[2022-11-10 10:42] perrin4869 commented on #231
I'll merge a PR implementing this :)
Maybe add the ability to specify a json formatter?

[2022-11-10 10:56] Cielquan commented on #231
Thanks :)

That sound also like a good idea. Maybe both? You can either set a number or a string containing a formatter wich then gets mapped to a number?

[2022-11-10 14:14] perrin4869 commented on #231
I think one of the two is better? I can go with either!
Can't think of a name for a combined option, it would be something like `jsonFormatter` or `jsonTabWidth` I think?

[2022-11-10 14:23] Cielquan commented on #231
Well the naming sure is a problem indeed.

I guess then when both options are being implemented two separate options should be created, but then there would be the issue of which takes precedence and so on. So yeah, I guess one would be better?

But when only one is implemented I would propose to take the more general one with `jsonTabWidth` as it is more flexible and the user can do everything th

[2022-11-10 14:48] perrin4869 commented on #231
Well, `jsonFormatter` is the more general option.
You could specify something like `--jsonFormatter ./jsonFormatter.js` which could look something like:

[code]

This is using something like https://www.npmjs.com/package/json-beautify
In this case you can also set the maximum line width.

[2022-11-10 14:55] Cielquan commented on #231
Ah ok, I had a different approach in mind. I thought that the formatter option would just be a string, which then would get mapped into a number. But your approach is much better. Yes with this I would agree with you, that this would be the more general option. I like it.